
body{
  padding: 0;
  margin: 0;
}

body .container {
  background-image: linear-gradient(22deg,red,blue);
  height: 100vh;
  width: 100vw;
}
a{
  font-size: 2em;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  color: white;
  text-decoration: none;
  background-color: rgba(0,255, 255, 0.3);
  border-radius: 20%;
}
h1{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 5em;
  color: rgba(255,255, 255, 0.6);
}

h2{
  margin: 80px;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  color: rgba(255,255, 255, 0.8);
}

.video-area {
  display: flex;
}

video {
  height: 80vh;
  width: 32vw;
  margin: 30px;
}

.id {
  display: flex;
  color:white;
}

.id div,.id p,.id a{
  margin: 20px;
}

.id p {
  color: yellow;
}

.row{
  width: 60vw;
}
